@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>About</h1>
<p>This is a first ASP.NET MVC application!</p>
<h2>MVC pattern consists of the following parts:</h2>
<ul>
    <li>Model</li>
    <li>View</li>
    <li>Controller</li>
</ul>
<p>Read more: <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC pattern</a></p>