@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center display-4">Popular Products</h1>

<div class="row">
    @foreach (var item in @Model)
    {
        <partial name="_ProductCardPartial" model="@item" />
    }
</div>
