@using FirstAspNetMvc_project.Utilities;
@model FirstAspNetMvc_project.Models.EditUserViewModel;
@{
    string avatarPath = WebConstants.userAvatarsPath;
    avatarPath += Model.User.Avatar != null ? Model.User.Avatar : "no-profile-picture.webp";
}

<h1>Update Information</h1>

<h4>User</h4>
<div class="text-center mb-3">
    <img class="rounded" height="120" src="@avatarPath" alt="User Avatar" />
</div>
<hr />

<form method="post" asp-action="Edit">
    <div class="row">
        <input asp-for="User.Id" hidden>
        <input asp-for="User.Avatar" hidden>

        <div class="col-12 col-md-6 form-group">
            <label asp-for="User.Name">Name</label>
            <input asp-for="User.Name" type="text" class="form-control" placeholder="Enter name">
            <span asp-validation-for="User.Name" class="form-text text-danger"></span>
        </div>
        <div class="col-12 col-md-6 form-group">
            <label asp-for="User.Surname">Surname</label>
            <input asp-for="User.Surname" type="text" class="form-control" placeholder="Enter surname">
            <span asp-validation-for="User.Surname" class="form-text text-danger"></span>
        </div>
        <div class="col-12 col-md-6 form-group">
            <label asp-for="User.Email">Email</label>
            <input asp-for="User.Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="User.Email" class="form-text text-danger"></span>
        </div>
        <div class="col-12 col-md-6 form-group">
            <label asp-for="User.BirthDate">Birthdate</label>
            <input asp-for="User.BirthDate" type="date" class="form-control">
            <span asp-validation-for="User.BirthDate" class="form-text text-danger"></span>
        </div>
        <div class="col-12 form-group">
            <label asp-for="User.RoleId">Role</label>
            <select asp-for="User.RoleId" asp-items="@Model.Roles" class="form-control">
                <option>--Without Role--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}